.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 30px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 375px) auto;
  align-items: center;
  gap: 7px 18px;
}

.profile__text {
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  grid-area: title;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__sub-text {
  color: #fff;
  grid-area: description;
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  background-image: url(../images/edit-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  background-color: transparent;
  grid-area: button;
  border: 1px solid rgba(255, 255, 255, 1);
  margin-right: auto;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__add-button {
  background-image: url(../images/add-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 2px;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (min-width: 626px) and (max-width: 750px) {
  .profile__add-button {
    max-width: 40px;
    max-width: 40px;
    margin-left: auto;
  }

  .profile__edit-button {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    padding: 0;
  }
}

@media screen and (max-width: 626px) {
  .profile__text {
    text-align: center;
    font-size: 22px;
    line-height: 1.21;
    max-width: 196px;
  }

  .profile {
    flex-direction: column;
    max-width: 282px;
    padding: 42px 0px 36px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    gap: 14px 10px;
    width: 100%;
    justify-content: center;
    padding-top: 26.25px;
  }

  .profile__sub-text {
    width: 100%;
    text-align: center;
    padding-bottom: 36px;
    line-height: 1.21;
    font-size: 14px;
  }

  .profile__add-button {
    width: 100%;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .profile__edit-button {
    width: 18px;
    margin: 0;
    padding: 0;
    height: 18px;
  }

  .profile__avatar {
    margin: 0;
  }
}
